head, body {
	background-color:#1a1a1a;
	color:#e0e0e0;
	font-family: 'Arial', sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}
#box, #stats {
	float:left;
}
#banner {
	/*font-weight:bold;*/
	font-style:italic;
}

a {
	color:#e0e0e0;
}

#example {
	margin-left:300px;
}

whisper {
	font-style:italic;
	font-weight:normal;
	color: #7575A3;
}

whisper:before {
	content:" (";
}

whisper:after {
	content:") ";
}